[submodule "AnyoneKit/xz"]
	path = AnyoneKit/xz
	url = https://github.com/tukaani-project/xz
[submodule "AnyoneKit/openssl"]
	path = AnyoneKit/openssl
	url = https://github.com/openssl/openssl.git
[submodule "AnyoneKit/libevent"]
	path = AnyoneKit/libevent
	url = https://github.com/libevent/libevent.git
[submodule "AnyoneKit/tor"]
	path = AnyoneKit/tor
	url = https://gitlab.torproject.org/tpo/core/tor.git
